name: bitinfo
channels:
  - conda-forge
dependencies:
  - python<3.13
  - julia<1.9.0
  - pyjulia
  - curl<8.10
  - matplotlib-base
  - numpy
  - pooch
  - xarray==2024.11.0
  - dask-core
  - distributed
  - jupyterlab
  - netcdf4
  - zarr
  - cfgrib
  - prefect>=1.0.0
  - graphviz
  - pytest
  - nb_conda_kernels
  - cmcrameri
  - tqdm
  - asv
  - sphinx!=4.4.0
  - sphinxcontrib-napoleon
  - sphinx-copybutton
  - sphinx-book-theme
  - myst-nb
  - numcodecs>=0.10.0
  - pip
  - pip:
    - -e .
