name: CI
'on':
  pull_request: null
  workflow_dispatch: null
concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true
jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    outputs:
      triggered: '${{ steps.detect-trigger.outputs.trigger-found }}'
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1.2.1
        id: detect-trigger
        with:
          keyword: '[skip-ci]'
  test:
    name: pytest
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: 'bash -l {0}'
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3.1.0
        with:
          auto-update-conda: false
          channels: conda-forge
          miniforge-version: latest
          activate-environment: bitinfo-tests
          python-version: '3.11'
          environment-file: tests/environment.yml
      - name: Conda info
        run: conda info
      - name: Conda list
        run: conda list
      - name: install xbitinfo
        run: |
          pip install .
      - name: Run tests
        run: pytest
  doctest:
    name: doctests
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: 'bash -l {0}'
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: conda-incubator/setup-miniconda@v3.1.0
        with:
          channels: conda-forge
          miniforge-version: latest
          activate-environment: bitinfo-tests
          auto-update-conda: false
          python-version: '3.11'
          environment-file: tests/environment.yml
      - name: Install xbitinfo
        run: |
          python -m pip install -e .
      - name: Conda info
        run: conda info
      - name: Conda list
        run: conda list
      - name: Run doctests
        run: |
          python -m pytest --doctest-modules xbitinfo --ignore xbitinfo/tests
  test_notebooks:
    name: notebooks
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: 'bash -l {0}'
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3.1.0
        with:
          auto-update-conda: false
          channels: conda-forge
          miniforge-version: latest
          activate-environment: bitinfo-docs
          python-version: '3.11'
          environment-file: docs/environment.yml
      - name: Remove julia (issue #212)
        run: |
          conda remove julia
      - name: Conda info
        run: conda info
      - name: Conda list
        run: conda list
      - name: install xbitinfo
        run: |
          pip install . --upgrade pip
      - name: Test notebooks
        run: >
          python -m ipykernel install --user --name bitinfo-docs

          jupyter nbconvert --to html --execute docs/*.ipynb
          --ExecutePreprocessor.kernel_name=bitinfo-docs
  install:
    name: 'install xbitinfo, ${{ matrix.os }}'
    runs-on: '${{ matrix.os }}'
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: '3.11'
      - name: Set up Julia
        uses: julia-actions/setup-julia@v2.6.0
        with:
          version: 1.7.1
      - name: Install dependencies
        run: |
          pip install .[complete]
          python -c "import xbitinfo"
